@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
* {
  margin: 0;
  padding: 0;

}
ul {
  margin-left: 25px;
  /* padding-left: 10%; */
 

}
nav {
  width: 100%;
  background-color: rgb(129, 255, 135);
  
}
nav ul {
  margin-right: 25px;
  display: inline;
  list-style: none;

}

nav .Nav {
  display: flex;
  align-items: center;
  justify-content:space-between; 
  height: 50px;
  font-family: luckiest guy;
}

body {
    font-family: fredoka one;
    background-color: #B7E4C7;
    background-image: url("https://cdn.dribbble.com/users/508588/screenshots/14325060/media/59d42601e5ecdaa11fd61581d9d15777.jpg?compress=1&resize=1600x1200&vertical=top");
    background-size:cover;
}
.SitterIMG {
  width: 500px;
  height: 500px;
}
.Sitter {
  width: 300px;
  height: 300px;
  border: black 2px solid;
  margin: 2px;
}
.list-img{
  width: 150px;
  height: 150px;
}
.size1 {
  width: 300px;
  height: 300px;
}