@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
* {
  margin: 0;
  padding: 0;

}
.App {

}
ul {
  margin-left: 25px;
  /* padding-left: 10%; */
 

}
nav {
  width: 100%;
  background-color: #CDB4DB;
  
}
nav ul {
  margin-right: 25px;
  display: inline;
  list-style: none;

}

nav .Nav {
  display: flex;
  align-items: center;
  justify-content:space-between; 
  height: 50px;
  font-family: Alata;
}

body {
    font-family: fredoka one;
    background-color: #FFC8DD;
}
.SitterIMG {
  width: 500px;
  height: 500px;
}
.Sitter {
  width: 300px;
  height: 300px;
  border: black 2px solid;
  margin: 2px;
}
.list-img{
  width: 150px;
  height: 150px;
}
.size1 {
  width: 300px;
  height: 300px;
}