html{
  width:100%;
  margin: 0;
}

body {
  width: 100%; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.postingBox {
  
  text-align: center;
  align-items: center;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
  background-size: 500px 355px;
  background-repeat: no-repeat ;
  padding-top: 25px;
  margin: auto;
  margin-top: 10px;
  width: 500px;
  height: 330px;
  border:black 1px solid;
  border-radius: 20px;
  color: azure;
}
.trash {
  /* width: 25px; */
  padding: 0px;
border: none;
background: none;
  background-color:rgba(6, 24, 24, 0.424);
}
.titleOnPosting {
  text-align: center;
}

.edit-delete{

  display: flex;
  margin-left: 40%;
}
.postName {
  padding-top: 25px;
}
.editArea {
   border: black solid 2px;
  background-color: rgba(255, 125, 212, 0.417);
  padding-left: 40%;
  margin-top: 2000px;
  margin-bottom: 15rem;
}
.update {
  width: 100%;
  height: 100%;

}